.block-about-us {
    display: flex;
    height: 349px;
    margin-top: 90px;
}

.block-about-us-article {
    
}

.block-about-us-title {
    position: relative;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
    text-align: center;
}

.block-aboout-us-image {
    position: absolute;
    padding-top: 26px;
    z-index: -1;
    width: 543px;
    height: 236px;
}

.block-about-us-article-contacts {
    padding-left: 57px;
}

.block-about-us-article-link {
    padding-top: 10px;
    padding-left: 30px;
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
}

.block-about-us-link {
    position: absolute;
    margin-top: 20px;
    margin-left: 30px;
}

.block-about-us-article-description {
    width: 483px;
    padding-left: 30px;
    padding-top: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.block-about-us-article-image {
    padding-top: 10px;
    padding-left: 30px;
}