.block-categories {
    
}

.block-category-title {
    margin-top: 90px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.block-categories-list {
    margin-top: 30px;
    display: flex;
    width: 1180px;
    justify-content: space-between;
}

.block-category-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
}

.block-category--title {
    position: absolute;
    top: 43%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.block-category1 {
    position: relative;
    width: 25%;
    height: 270px;
    background: #DBE4DB;
}

.block-category2 {
    position: relative;
    margin-left: 20px;
    width: 25%;
    height: 270px;
    background: rgba(186, 142, 107, 0.3);
}

.block-category3 {
    position: relative;
    margin-left: 20px;
    width: 25%;
    height: 270px;
    background: #F8F2DA;
}

.block-category4 {
    position: relative;
    margin-left: 20px;
    width: 25%;
    height: 270px;
    background: rgba(9, 3, 79, 0.17);
} 

.block-category-description {
    display:inline-block;
    margin-top: 30px;
    margin-left: 20px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.block-category-button {
    margin-top: 33px;
    background: rgba(112, 187, 220, 0.2);
    border: none;
}