.block-delivery-guarantee-credit {
    display: flex;
    margin-top: 90px;
    height: 559px;
}
.block-delivery-guarantee-credit-image {

}

.block-delivery-guarantee-credit-nav {
    margin-left: 120px;
}

.block-delivery-guarantee-credit-title {
    margin-top: 30px;
    margin-bottom: 17px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
    color: #1E0606;
}

.block-delivery-guarantee-credit-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.block-delivery-guarantee-credit-list-item {
    margin-bottom: 22px;
}

.block-delivery-guarantee-credit-link {
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #1E0606;
}

.block-delivery-guarantee-credit-link:active {
    font-weight: bold;
}

.block-delivery-guarantee-credit-description {
    margin-top: 8px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

.block-delivery-guarantee-credit-description-2 {
    margin-top: 15px;
    margin-bottom: 26px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
}

