.block-ooh-noo-collection {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-top: 89px;
    
}

.block-ooh-noo-collection-image-rectangle {
    position: absolute;
    width: 1180px;
    height: 411px;
}

.navigation-collection {
    padding-top: 17px;
    padding-left: 28px;
    position: relative;
    list-style-type: none;
}

.block-ooh-noo-collection-titles {
    padding-right: 5px;
    width: 307px;
    padding-top: 89px;
    padding-left: 44px;
    padding-bottom: 128px;
    
}

.block-ooh-noo-collection-image {
    position: relative;
}

.block-ooh-noo-collection-title {
    width: 307px;
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #1E0606;
}

.block-ooh-noo-collection-title-2 {
    margin-top: 20px;
    position: relative;
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1E0606;
    margin-bottom: 20px;
}

.block-ooh-noo-collection-title-link{
    position: relative;
    
}

.block-ooh-noo-collection-image-monster-wrapper {
    position: relative;
    
}

.block-ooh-noo-collection-image-monster-wrapper::after {
    content: "";
    position: relative;
    display: block;
}

.block-ooh-noo-collection-image-monster {
    position: absolute;
    margin-top: -89px;
    width: 635.49px;
    height: 461px;
    object-fit: cover;
    object-position: center;
}

.block-ooh-noo-collection-wrap {
    position: absolute;
    margin-top: 372px;
    width: 1180px;
    height: 39px;
    background: #C29974;
    
}

.block-ooh-noo-collection-title-3 {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 364px;
    padding-right: 364px;
    width: 452px;
    height: 17px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}
